<ng-container *ngIf="categories$ | async as categories">
  <header class="border-bottom">
    <div class="bg-light py-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-12 text-center text-md-start">
            <span> Super Value Deals - Save more with coupons</span>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <img
            src="/assets/images/logo/freshcart-logo.svg"
            alt="eCommerce HTML Template"
          />
        </a>

        <button
          type="button"
          class="btn d-lg-none"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <hr />
        <div id="collapseBasic" *ngIf="isCollapsed" class="d-lg-none">
          <div class="well well-lg card card-block card-header">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" *ngFor="let category of categories">
                <a
                  class="nav-link active"
                  aria-current="page"
                  [routerLink]="'categories/' + category.id"
                  >{{ category.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="navbar-nav d-lg-flex flex-row d-none">
        <li *ngFor="let category of categories" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'categories/' + category.id"
            role="button"
            >{{ category.name }}</a
          >
        </li>
      </ul>
    </nav>
  </header>
</ng-container>
