<ng-container *ngIf="categories$ | async as categories">
  <ng-container *ngIf="storesWithTags$ | async as stores">
    <ng-container *ngIf="productsFruits$ | async as productsFruitsVegetable">
      <ng-container *ngIf="productsSnacks$ | async as productsSnacks">
        <div class="container-fluid px-sm-16 px-md-12 pt-10">
          <app-carousel-home></app-carousel-home>
          <div class="container pt-10"><h2>Featured Categories</h2></div>

          <app-carousel-categories></app-carousel-categories>
          <div class="container pt-10"><h2>Shop by Category</h2></div>
          <div
            class="row row-cols-1 row-cols-md-3 row-cols-lg-5 justify-content-center"
          >
            <div
              class="col d-flex flex-column d-md-flex flex-md-row justify-content-center border m-1 p-2"
              *ngFor="let category of categories"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <img src="{{ category.imageUrl }}" class="img-fluid w-40" />
                <p class="pt-3">{{ category.name }}</p>
              </div>
            </div>
          </div>

          <div class="container-fluid pt-6">
            <div class="container">
              <h2>Fruits & Vegetables</h2>
            </div>
            <div
              class="row row-cols-md-5 row-cols-1 text-center justify-content-center"
            >
              <div
                class="col-md-2 d-flex flex-column p-2"
                *ngFor="let product of productsFruitsVegetable"
              >
                <div class="border h-100">
                  <img src="{{ product.imageUrl }}" class="img-fluid" />
                  <h6 class="pt-3">{{ product.name }}</h6>
                  <p class="fw-bold">{{ product.price | currency }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid pt-6">
            <div class="px-md-12">
              <h2>Snack & Munchies</h2>
            </div>
            <div
              class="row row-cols-md-5 row-cols-1 text-center justify-content-center"
            >
              <div
                class="col-md-2 d-flex flex-column p-2"
                *ngFor="let product of productsSnacks"
              >
                <div class="border h-100">
                  <img src="{{ product.imageUrl }}" class="img-fluid" />
                  <h6 class="pt-3">{{ product.name }}</h6>
                  <p class="fw-bold">{{ product.price | currency }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid pt-6">
            <div class="px-md-12">
              <h2>Stores</h2>
              <p class="fw-bold">
                We have
                <span class="text-success">{{ stores.length }} </span>
                vendors now
              </p>
            </div>
            <div
              class="row row-cols-md-5 row-cols-1 text-center justify-content-center px-lg-15"
            >
              <div
                class="col-md-4 d-flex flex-column p-2"
                *ngFor="let store of stores"
              >
                <div class="border d-flex p-2 h-100">
                  <img
                    src="{{ store.logoUrl }}"
                    class="img-fluid rounded-circle"
                  />
                  <div class="d-flex flex-column align-items-start ps-lg-4">
                    <h6 class="">{{ store.name }}</h6>
                    <div class="d-flex flex-row">
                      <p
                        class="text-muted small secondary fw-lighter"
                        *ngFor="let storeTag of store.tagIds"
                      >
                        {{ storeTag }},
                      </p>
                    </div>
                    <p class="badge bg-secondary">
                      {{ store.distanceInMeters }} km
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container></ng-container
  >
</ng-container>
